<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <div th:replace="fragments/header :: myheader"></div>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div class="container mt-5">
    <h5>Hello, guest</h5>
    <div>This is a simple clone off Twitter</div>
    <form>
        <input type="button" value="Войти" onClick='location.href="/login"'>
    </form>
</div>
<div th:insert="fragments/scriptsJS :: scripts"></div>
</body>
</html>